{% extends 'base.html'%}
{% block content %}
<div class="admin_info"><p><i class="fa fa-star bg-orange"></i> Всі пости адміністратора {{ user.login }}</p></div>
<div class="container-fluid">

                        <div class="custombox authorbox clearfix">
                                <h4 class="small-title">Про автора</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <img  src="/static/images/ava/{{ user.avatar }}" alt="" class="img-circle">
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">

                                        <p>{{ user.description }}</p>

                                    </div><!-- end col -->
                                </div><!-- end row -->
                         </div><!-- end author-box -->
</div>

<div class="container-fluid">

{% for post in posts.items %}
  <hr class="invis1">
    <div class="blog-list clearfix">
        <div class="blog-box row">
            <div class="col-md-2">
                <div class="post-media">
                    <a href="{{ url_for('main.show_post',id_article = post.id )}}" >
                    <img src="\{{ post.url }}"  alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!--end media-->
            </div><!--end col-md 4-->
            <div class="blog-meta big-meta col-md-10">
                <h4><a href="{{ url_for('main.show_post',id_article = post.id )}}" >{{ post.title }}</a></h4>
                <p>{{ post.text | striptags | truncate(350, True)  }}</p>
                <small>{{post.author}}</small>
                <small class="text-muted">{{post.date_post.strftime('%Y-%m-%d')}}</small>

            </div><!--end blog-meta-->
        </div><!--end blog-box-->


    </div><!--end blog-list clearfix-->

{% endfor %}
<div style="margin:20px auto;">


    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
     <a class="btn btn-primary mb-8" href="{{url_for('main.admin_articles',user=user, page=page_num)}}">{{ page_num }}</a>
         {% else %}
      <a class="btn btn-default mb-8" href="{{url_for('main.admin_articles',user=user ,page=page_num)}}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
    {% endfor %}
</div>
</div><!--end class container-->

{% endblock %}