{% extends 'admin/base.html'%}

{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="alert alert-{{ cat }}"><i class="glyphicon glyphicon-remove" onclick=delete_flash(this)>{{msg}}</i></div>
{% endfor %}
<div class="container">
    <form action="{{url_for('admin.add_phone')}}">

         <input type="submit" class="btn btn-info" value="Додати номер" />
    </form>


</div>
<br>
<div class="container">
    <table class="table table-bordered" style="display:table;">
    <thead >
        <tr class="info">
            <th scope="col">Підрозділ</th>
            <th scope="col">Позивний</th>
            <th scope="col">Абонент</th>
            <th scope="col">АТС (код зони - 69)</th>
            <th scope="col">ЗСУ002</th>
            <th scope="col">ЗСУ001</th>
			<th scope="col">Дія</th>
        </tr>
    </thead>
    <tbody>
   {% for n in phones %}


  <tr class="table-light">

	<td>{{ n.unit }}</td>
	<td>{{ n.calling_name }}</td>
	<td>{{ n.abonent }}</td>
	<td>{{ n.ats }}</td>
	<td>{{ n.mosi }}</td>
	<td>{{ n.zsoi }}</td>
     <td>
         <button class="btn btn-light"><a href="{{ url_for('admin.edit_phones',id=n.id)}}" style="color:green;"><i class="glyphicon glyphicon-edit"></i></a></button>
           <button class="btn btn-light"  style="color:red;">
				  <a href="{{ url_for('admin.delete_phones',id=n.id)}}" style="color:red;">
					  <i class="glyphicon glyphicon-remove"></i>
				  </a>
			  </button>
     </td>
</tr>
 {% endfor %}
    </tbody>
</table>


</div>




<script>
 function testFun(variable){
    document.getElementById('testH1').innerHTML=variable;
 }
</script>
<script>
    function delete_flash(flash){
        $(flash).parent().remove()
    }
</script>
{% endblock %}